.vscode/**
.vscode-test/**
.vscodeignore
.git
.github
.gitignore
.DS_Store
.env
.env.*
**/*.ts
**/*.map
.eslintrc.json
tsconfig.json
webpack.config.js
node_modules/**
src/**
out/**
!dist/**
*.vsix
package-test.json
extension-debug.ts
extension-minimal.ts
extension-simple.ts
extension-test-install.ts
TEST_EXTENSION_INSTALL.md
